body{
 background:/*#d1d1d1*/#9a9498;
 font-family:candara;
 margin:0px;
}
#logo_ubuntu{
 display:block;
 margin:auto;
 margin-top:10px;
 border:1px solid gray;
 border-radius:50px;
 padding:5px;
 -webkit-animation:animation_ubuntu 1.5s infinite;
 -moz-animation:animation_ubuntu 1.5s infinite;
 -o-animation:animation_ubuntu 1.5s infinite;
 -ms-animation:animation_ubuntu 1.5s infinite;
}
@-webkit-keyframes animation_ubuntu{
 90%{
 opacity:0.60;
 }
 80%{
 opacity:0.90;
 }
 60%{
 opacity:0.5;
 }
 40%{
 border:1px solid black;
 box-shadow:black 1px 1px 8px inset;
 }
 20%{
 background:#c5c6c5;
 }
 5%{
 background:#b8a59f;
 }
}
/*.....................................*/
@-moz-keyframes animation_ubuntu{
 90%{
 opacity:0.60;
 }
 80%{
 opacity:0.90;
 }
 60%{
 opacity:0.5;
 }
 40%{
 border:1px solid black;
 box-shadow:black 1px 1px 8px inset;
 }
 20%{
 background:#c5c6c5;
 }
 5%{
 background:#b8a59f;
 }
}
/*.....................................*/
@-o-keyframes animation_ubuntu{
 90%{
 opacity:0.60;
 }
 80%{
 opacity:0.90;
 }
 60%{
 opacity:0.5;
 }
 40%{
 border:1px solid black;
 box-shadow:black 1px 1px 8px inset;
 }
 20%{
 background:#c5c6c5;
 }
 5%{
 background:#b8a59f;
 }
}
/*.....................................*/
@-ms-keyframes animation_ubuntu{
 90%{
 opacity:0.60;
 }
 80%{
 opacity:0.90;
 }
 60%{
 opacity:0.5;
 }
 40%{
 border:1px solid black;
 box-shadow:black 1px 1px 8px inset;
 }
 20%{
 background:#c5c6c5;
 }
 5%{
 background:#b8a59f;
 }
}


#div_visor{
 width:360px;
 margin:auto;
 padding:5px;
}
#visor{
 width:350px;
 padding:5px;
 font-size:20px;
 outline:none;
 border:1px solid black;
 border-radius:5px;
 box-shadow:#293134 1px 1px 3px inset;
 background-position:right;
 background:;
 color:white;
 text-shadow:black 1px 1px 1px;
 background-image:url('img_config/fundo_visor.png')!important;
 
}
#table_calculadora{
 margin:auto;
 border:1px solid #293134;
 padding:10px;
 box-shadow:#293134 1px 1px 3px inset;
 border-radius:5px;
 background-image:-webkit-linear-gradient(#66645c,#393b39);
 background-image:-moz-linear-gradient(#66645c,#393b39);
 background-image:-o-linear-gradient(#66645c,#393b39);
 background-image:-ms-linear-gradient(#66645c,#393b39);
 margin-bottom:10px;
}
#igual,#operador_mais,#operador_diminuir,#operador_divisao,#operador_multiplicar,#pi,#porcentagem,#raiz_quadrada{
 background-image:-webkit-linear-gradient(gray,#cdcdcd,#f5f5f5)!important;
 background-image:-moz-linear-gradient(gray,#cdcdcd,#f5f5f5)!important;
 background-image:-o-linear-gradient(gray,#cdcdcd,#f5f5f5)!important;
 background-image:-ms-linear-gradient(gray,#cdcdcd,#f5f5f5)!important;
 opacity:0.80;
}
#table_calculadora button{
 width:60px;
 padding:10px;
 font-size:20px;
 background-image:-webkit-linear-gradient(#f5f5f5,#cdcdcd,gray);
 background-image:-moz-linear-gradient(#f5f5f5,#cdcdcd,gray);
 background-image:-o-linear-gradient(#f5f5f5,#cdcdcd,gray);
 background-image:-ms-linear-gradient(#f5f5f5,#cdcdcd,gray);
 box-shadow:silver 1px 1px 1px inset;
 border:1px solid #293134;
 border-radius:3px;
}
#ponto{
 font-weight:bold;
}
#igual{
 border:1px solid black!important;
}
#table_calculadora button:hover{
 opacity:0.70;
 border:1px solid black;
}
#table_calculadora button:active{
  box-shadow:gray 2px 2px 3px inset;
  color:#003366;
}
#erros{
 display:block;
 width:auto;
 margin:auto;
 background:#393b39;
 background-image:-webkit-linear-gradient(#66645c,#393b39);
 background-image:-moz-linear-gradient(#66645c,#393b39);
 background-image:-o-linear-gradient(#66645c,#393b39);
 background-image:-ms-linear-gradient(#66645c,#393b39);
 color:white;
 padding:10px;
 text-align:center;
 box-shadow:black 1px 1px 5px;
}

#relatorios_operandos{
 color:black;
 font-size:18px;
 width:400px;
 border:1px solid black;
 margin:auto;
 padding:10px;
 text-shadow:white 1px 1px 1px;
 opacity:0.50;
 border:0px;
}
#relatorios_operandos b{
 width:auto;
 padding:5px;
 border:1px solid silver;
 margin-left:5px;
 background:white;
 display:block;
 text-align:center;
 font-family:arial!important;
 box-shadow:silver 1px 1px 3px inset;
 border-radius:5px;
}
#parentese_left,#parentese_right{
 width:20px!important;
 padding:5px!important;
 background:#333300!important;
 background-image:-webkit-linear-gradient(#9e9e8d,#333300)!important;
 background-image:-moz-linear-gradient(#9e9e8d,#333300)!important;
 background-image:-o-linear-gradient(#9e9e8d,#333300)!important;
 background-image:-ms-linear-gradient(#9e9e8d,#333300)!important;
 color:white;
 opacity:0.80;
}
span{
 color:#ff3300;
}
#limpar{
 opacity:0.80;
 background-image:url('img_config/lixo.png')!important;
 background-repeat:no-repeat;
 background-position:center;
 height:47px;
}